.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 6, 6);
}

.App-link {
  color: #61dafb;
}



label {
  font-size: 16px;
  margin-right: 10px;
}

div {
  margin-bottom: 15px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}




.butoes {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

  padding: 5px;
  margin: 30px;
}

.tabela {
  width: 100%;
  margin: 20px;

  
  background-color: #61dafb;
  padding: 50px;


}


td {
  padding: 10px;
  border: 2px solid #0f0e0e;
  background-color: aliceblue;
}





.meuform {
  width: 100%;
  text-align: left;
  padding: 50px;



}